/* || GENERAL STYLES */

:root {
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* Main colors */
    --dark-blue-gray: #666CA3;
    --yankees-blue: #13183F;
    --roman-silver: #83869A;
    --sasquatch-socks: #F74780;
    --carnation-pink: #FFA7C3;
    --white: #FFF;
    /* Gradients */
    --orange-fun: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
    --sublime-vivid: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
}

body {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    margin: 0;
}

h1,h2,h3 {
    margin: 0;
}

button {
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: var(--white);
    border-radius: 28px;
    padding-inline: 2rem;
    padding-block: 0.875rem;
}

a {
    color: var(--sasquatch-socks);
    text-decoration: none;
}

/* || TYPOGRAPHY */

.heading-l {
    color: var(--yankees-blue);
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 1.25;
}

.heading-m {
    color: var(--white);
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.25;
}

.heading-s {
    color: var(--yankees-blue);
    font-weight: 800;
    font-size: 1,25rem;
    line-height: 1.25;
}

.body {
    color: var(--roman-silver);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75;
}

.caption {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25;
}

@media (min-width: 1440px) {
    .heading-l {
        font-size: 3.5rem;
    }

    .heading-m {
        font-size: 2rem;
    }

    .heading-s {
        font-size: 1.5rem;
    }

    .body {
        font-size: 1.125rem;
    }

    .caption {
        font-size: 1.125rem;
    }
}

/* || BUTTONS */

.b-1 {
    background: var(--yankees-blue);
}

.b-1:hover {
    background: var(--dark-blue-gray);
}

.b-2 {
    background: var(--orange-fun);
}

.b-2:hover {
    opacity: 0.5;
}

.b-3 {
    background: var(--sublime-vivid);
}

.b-3:hover {
    opacity: 0.5;
}

/* || SITE WIDE */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 1rem;
    margin-block-start: 1rem;
    margin-block-end: 2.375rem;
}

/* Hero */

#hero {
    display: flex;
    flex-direction: column;
}

.hero-container{
    margin-inline: 1rem;
    margin-block-end: 1rem;
}

.hero-container p {
    margin-block-start: 1.625rem;
    margin-block-end: 1.5rem;
}

/* || TABLET */

@media (min-width: 768px) {

    body {
        background-image: url(images/image-hero-tablet@2x.webp);
        background-image: webkit-image-set(
            url(images/image-hero-tablet.webp) 1x,
            url(images/image-hero-tablet@2x.webp) 2x
        );
        background-image: image-set(
            url(images/image-hero-tablet.webp) 1x,
            url(images/image-hero-tablet@2x.webp) 2x
        );
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 51vw -10%;
        background-size: 640px;
    }

    /* Header */

    header {
        margin-inline: 2.5rem;
        margin-bottom: 0;
    }

    /* Hero */

    #hero {
        flex-direction: row;
        align-items: center;
        height: 523px;
    }
    
    .hero-container {
        width: 52%;
        margin-inline: 2.5rem;
    }

    #hero img {
        display: none;
    }

}