/* || GENERAL */

:root {
    /* Primary Colors*/
    --Orange: hsl(25, 97%, 53%);
    /* Neutral  Colors*/
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    /* Typography */
    font-family: 'Overpass', sans-serif;
}

html {
    box-sizing: border-box;
    block-size: 100%;
    background-color: var(--Very-Dark-Blue);
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, p {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 100%;
}

button {
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.5;
}

/* || TYPOGRAPHY */

.heading {
    font-weight: 700;
    color: var(--White);
    font-size: 1.5rem;
    line-height: 1.26;
    margin-block-start: 1rem;
    margin-block-end: 0.625rem;
}

.body {
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--Light-Grey);
    line-height: 1.6;
}

@media(min-width: 1440px) {
    .heading {
        font-size: 1.75rem;
        margin-block-start: 2rem;
    }

    .body {
        font-size: 0.9375rem;
    }
}

/* || UTILITIES */

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.text-align {
    text-align: center;
}

.orange-text {
    color: var(--Orange);
}

.fadeout {
    animation: fadeout 0.2s linear forwards;
  }
  
  @keyframes fadeout {
    from {
        opacity: 1;
    }
  
    to {
        opacity: 0;
    }
  }

.fadein {
    animation: fadein 0.5s linear forwards;
  }
  
  @keyframes fadein {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }

/* ||General Styles */

.card {
    inline-size: 20.4375rem;
    block-size: 22.5rem;
    padding-inline: 1.5rem;
    padding-block-start: 1.5rem;
    padding-block-end: 2rem;
    border-radius: 0.9375rem;
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
}

/* Rating */

.card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 2.5rem;
    block-size: 2.5rem;
    border-radius: 50%;
    background-color: var(--Dark-Blue);
}

.rating-container {
    display: flex;
    justify-content: space-between;
    margin-block: 1.5rem;
}

.rating {
    padding-block-start: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    inline-size: 2.625rem;
    block-size: 2.625rem;
    background-color: var(--Dark-Blue);
    color: var(--Medium-Grey);
    text-align: center;
}

.rating:active,
.active {
    color: var(--White);
    background-color: var(--Medium-Grey);
}

.rating:hover {
    color: var(--White);
    background-color: var(--Orange);
}

.submit {
    inline-size: 100%;
    color: var(--White);
    border-radius: 22.5px;
    background-color: var(--Orange);
    padding-block: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1.86667px;
}

.submit:hover {
    color: var(--Orange);
    background-color: var(--White);
}

/* Thanks */

.thanks-state {
    text-align: center;
    position: relative;
    inset-block-start: -300px;
}

.pill {
    display: inline-block;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    background-color: var(--Dark-Blue);
    border-radius: 1.406rem;
    margin-block-start: 1.5rem;
    margin-block-end: 0.5rem;
}

.thanks-state img {
    block-size: 6rem;
}

/* || DESKTOP */

@media(min-width: 1440px) {

    button {
        font-size: 1rem;
        line-height: 1.5;
    }

    .card {
        inline-size: 25.75rem;
        block-size: 26rem;
        padding-inline: 2rem;
        padding-block: 2rem;
    }

    /* Rating */

    .rating {
        padding-block-start: 0.2rem;
        inline-size: 3.1875rem;
        block-size: 3.1875rem;
    }

    .rating-container {
        margin-block-end: 2rem;
    }

    .card .icon {
        inline-size: 3rem;
        block-size: 3rem;
    }

    /* Thanks */

    .thanks-state {
        margin-block-start: 1rem;
    }

    .thanks-state img {
        margin: 0 auto;
        display: block;
        inline-size: 10.125rem;
    }

    .pill {
        margin-block-end: 0;
        margin-block-start: 2rem;
    }

}