@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --soft-blue: #8BACD9;
    --white: #FFF;
    --cyan: #00FFF8;
    --very-dark-blue: #0D192C;
    --dark-blue: #15263F;
    --misc-blue: #2E405A;
}

html {
    box-sizing: border-box;
    background-color: var(--very-dark-blue);
    font-family: 'Outfit', sans-serif;
    color: var(--soft-blue);
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h4, p {
    margin-block: 0;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--cyan);
}

.heading {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}

caption {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 100vh;
    margin: 0;

}

.card {
    inline-size: 327px;
    padding-inline: 24px;
    padding-block-start: 24px;
    padding-block-end: 32px;
    background-color: var(--dark-blue);
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.card .display {
    margin-block-end: 16px;
}

.card .preview {
    inline-size: 100%;
    block-size: auto;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    margin-block: 0;
    margin-inline: 0;
}

.card .preview img {
    inline-size: 100%;
    block-size: auto;
}

.card > div {
    display: flex;
    justify-content: space-between;
}

.card .price {
    font-weight: 600;
    color: var(--cyan);
}

.caption-icon::before {
    margin-inline-end: 6px;
    vertical-align: middle;
}

.card .price::before {
    content: url("images/icon-ethereum.svg");
}

.card .time::before {
    content: url("images/icon-clock.svg");
}

.card footer {
    display: flex;
    align-items: center;
    border-block-start: 1px var(--misc-blue) solid;
    padding-block-start: 16px;
}

.card .avatar {
    inline-size: 33px;
    block-size: 33px;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin-inline-end: 16px;
}

.card footer em {
    font-style: normal;
    color: var(--white);
}

.card .description {
  margin-block: 24px;
}

.card .details {
    margin-block-end: 24px;
}

.card .overlay {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    inset-block-start: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 255, 248, 0.5);
}

.preview:hover .overlay {
    opacity: 1;
}

.card .overlay img {
    inline-size: 48px;
    block-size: 48px;
    transform: translate(-50%, -50%);
    inset-inline-start: 50%;
    inset-block-start: 50%;
    position: absolute;
}

@media (min-width: 400px) {
    .card {
        inline-size: 350px;
    }
}